# ==============================
# Python virtual environments
# ==============================

venv/
.venv/


# ==============================
# Python cache / compiled files
# ==============================

__pycache__/
*.py[cod]
*$py.class


# ==============================
# Jupyter
# ==============================

.ipynb_checkpoints/


# ==============================
# Large scientific datasets
# ==============================

*.nc
*.nc4
*.h5
*.hdf5
!datasets/synthetic_argo_demo.nc


# ==============================
# IDE files
# ==============================

.vscode/
.idea/


# ==============================
# Operating system files
# ==============================

.DS_Store
Thumbs.db